<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Upstream Market{%endblock%}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        {% block additional_css %} {%endblock%}
    </head>
    <body>
        {% include 'shared/partials/nav.html' %}
        <main>
        {% block sidebar %} {% endblock %} {% block main_content %} {%endblock %}
    </main>
        {% if not current_user.is_anonymous %}
            {% include 'shared/partials/mobile-create.html' %}
        {% endif  %}
        {% include 'shared/partials/toast.html' %}
        <script
            type="module"
            src="{{ url_for('static', filename='js/main.js') }}"
        ></script>
        <script src="https://unpkg.com/htmx.org@1.8.2"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% block additional_js %} {% endblock %}
    </body>
</html>
