<div class="table">
    <div class="row header">
        <div class="cell">Item Name</div>
        <div class="cell">Remaining</div>
        <div class="cell">Sales</div>
    </div>
    {% for record in event.inventory %}
    <div class="row">
        <div class="cell" data-title="Item Name">{{ record.item.name }}</div>
        <div class="cell" data-title="Remaining">{{ record.available }}</div>
        <div 
            class="cell flex-cell" 
            data-title="Actions"
            hx-trigger="edit"
            _="on click
                 if .editing is not empty
                   showToast('You\'re already editing a row.')
                 end
                 trigger edit"
            hx-get="/sales/{{event.id}}?item_id={{record.item.id}}"
            hx-swap="outerHTML"
            >
            {{ record.sold }}
        </div>
    </div>
    {% endfor %}
</div>
    