<div hx-swap-oob="true" id="event-chart" class="event__chart">{%autoescape false%}{{chart}}{% endautoescape %}</div>

<section class="event__header">
    <section class="event__meta">
        <h1>{{ event.name }}</h1>
        <p>{{event.starts}}</p>
            <button
            class="btn btn--primary"
            hx-get="/events/{{event.id}}/inventory"
            hx-target="main"
            hx-swap="beforeend"
            >Add Inventory</button>
    </section>
    
    <section class="event event__sales">
        <div class="number-box--big">
            <p class="large">{{ "${:,.2f}".format(sales) }}</p><p>Event sales</p>
        </div>
    </section>
</section>
<section class="event__items">
    <div class="table">
        <div class="row header">
            <div class="cell">Item Name</div>
            <div class="cell">Remaining</div>
            <div class="cell">Sales</div>
        </div>
        {% for record in event.inventory %}
        <div class="row">
            <div class="cell" data-title="Item Name">{{ record.item.name }}</div>
            <div class="cell" data-title="Remaining">{{ record.available }}</div>
            <div 
                class="cell flex-cell" 
                data-title="Actions"
                hx-trigger="edit"
                _="on click
                     if .editing is not empty
                       showToast('You\'re already editing a row.')
                     end
                     trigger edit"
                hx-get="/sales/{{event.id}}?item_id={{record.item.id}}"
                hx-swap="outerHTML"
                >
                {{ record.sold }}
            </div>
        </div>
        {% endfor %}
    </div>
</section>