<div class="event-wrap">
    <section class="event__header">
        <section class="event__meta">
            <h1>{{ event.market.name }}</h1>
            <p>{{event.starts}}</p>
            <div class="event__actions">
                <button
                class="btn btn--primary"
                hx-get="/events/{{event.id}}/inventory"
                hx-target="main"
                hx-swap="beforeend"
                >Add Inventory</button>
                <button
                class="btn"
                hx-get="/events/{{event.id}}/update"
                hx-target="main"
                hx-swap="beforeend"
                >Add Note</button>
            </div>
        </section>
        
        <section class="event event__sales">
            <div class="number-box--big">
                <p class="large">{{ "${:,.2f}".format(sales) }}</p><p>Event sales</p>
            </div>
        </section>
    </section>
    <section class="event__items" id="event-items">
        <div class="table">
            <div class="row header">
                <div class="cell">Item Name</div>
                <div class="cell">Remaining</div>
                <div class="cell">Sales</div>
            </div>
            {% for record in event.inventory %}
            <div class="row">
                <div class="cell" data-title="Item Name">{{ record.item.name }}</div>
                <div class="cell" data-title="Remaining">{{ record.available }}</div>
                <div 
                    class="cell flex-cell" 
                    data-title="Actions"
                    hx-trigger="edit"
                    _="on click
                         if .editing is not empty
                           showToast('You\'re already editing a row.')
                         end
                         trigger edit"
                    hx-get="/sales/{{event.id}}?item_id={{record.item.id}}"
                    hx-swap="outerHTML"
                    >
                    {{ record.sold }}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <div class="chart" id="event-chart">{%autoescape false%}{{chart}}{% endautoescape %}</div>
</div>

