<section class="event__header">
    <section class="event__meta">
        <h1>{{ event.name }}</h1>
        <p>{{event.starts}}</p>
    </section>
    <section class="actions">
        <button
            class="btn btn--primary"
            hx-get="/events/{{event.id}}/inventory"
            hx-target="main"
            hx-swap="beforeend"
            >Add Inventory</button>
    </section>
    <section class="event event__sales">
        <div class="event__sales-box"><p class="large">{{ sales }}</p><p>Event sales</p></div>
        <div class="event__sales-box"><p class="large">{{ event.inventory|length }}</p><p>Event Inventory</p></div>
    </section>
</section>
<section class="items">
    <table>
        <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for record in event.inventory %}
            <tr>
                <td>{{record.item.name}}</td>
                <td>{{record.available}} available</td>
                <td>
                    <button
                        class="btn"
                        hx-get="/events/{{event.id}}/inventory/{{record.item.id}}"
                        hx-target="main"
                        hx-swap="beforeend"
                    >Edit Quantity
                    </button>
                    <button
                        class="btn btn--primary"
                        hx-get="/sales/{{event.id}}?item_id={{record.item.id}}"
                        hx-target="main"
                        hx-swap="beforeend"
                    >Add Transaction
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
