<header>
    <h1>Upstream Market</h1>
    <div class="actions">
        <button
            class="btn btn--wide btn--primary"
            type="button"
            hx-get="/events/create"
            hx-target="main"
            hx-swap="beforeend"
        >Add Event</button>
        <button
            class="btn btn--wide"
            type="button"
            hx-get="/items/create"
            hx-target="main"
            hx-swap="beforeend"
        >Add Item</button>
    </div>
</header>
<section id="main__content-wrap">
<table>
<thead>
    <th>Event name</th>
    <th>Starts</th>
    <th>Inventory</th>
    <th>Actions</th>
</thead>
<tbody>
{% for event in events %}
<tr>
    <td>{{ event.name }}</td>
    <td>{{ event.starts }}</td>
    <td>{{ event.inventory|length }}</td>
    <td>
        <section class="tool-bar">
            <button
                type="button"
                class="btn btn--wide"
                hx-trigger="click"
                hx-get="/events/{{event.id}}"
                hx-target="main"
                hx-swap="innerHTML"
            >Manage</button>
        </section>
    </td>

</div>
{% endfor %}

</tbody>
</table>
</section>
