<section id="main__content-wrap">
<table>
<thead>
    <th>Event name</th>
    <th>Starts</th>
    <th>Inventory</th>
    <th>Actions</th>
</thead>
<tbody>
{% for event in events %}
<tr>
    <td>{{ event.name }}</td>
    <td>{{ event.starts }}</td>
    <td>{{ event.inventory|length }}</td>
    <td>
        <section class="tool-bar">
            <button
                type="button"
                class="btn btn--wide"
                hx-trigger="click"
                hx-get="/events/{{event.id}}"
                hx-push-url="true"
                hx-target="main"
                hx-swap="innerHTML"
            >Manage</button>
        </section>
    </td>

</div>
{% endfor %}

</tbody>
</table>
</section>
