<form
    hx-trigger="submit"
    hx-post="/events"
    hx-target="main"
    hx-swap="innerHTML"
>
    <label>Event name
        <select name="market_id">
            <option value="null">Select market</option>
            {% for location in data %}
            <option value="{{location.id}}">{{location.name}}</option>
            {% endfor %}
        </select>
    </label>
    <label>Date and time
        <input type="datetime-local" name="starts">
    </label>
    <button class="btn btn--primary" type="submit">Submit</button>
</form>
