<form
    hx-trigger="submit"
    hx-put="/items/{{data['item']['id']}}"
    hx-swap="innerHTML"
    hx-target="main"
    _="on htmx:afterRequest reset() me"
>
    <label>Item name
    <input type="text" name="name" value="{{data['item']['name']}}"/>
		</label>
    <label>Type
    <select name="itemtype_id">
        {% for option in data['options'] %}
        <option {% if data['selected'] %} {% if data['selected'] == option.value %} selected {% endif %} {% endif %} value = {{option.value}}>{{option.text}}</option>
        {% endfor %}
    </select>
		<label>Short name
    <input type="text" name="abbreviation" value="{{data['item']['abbreviation']}}" />
		</label>
    <button class="btn btn--primary" type="submit">Submit</button>
</form>
