:root {
    /* Colors */
    --site-gray: #e5e7ea;
    --accent-blue: #3c637a;
    --accent-red: #e9164f;
    --accent-green: #32c192;
    --site-dark: #153726;
    --text-white: #f0ecec;

    /* shadow */
    --box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    --hover-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
    --active-shadow: inset rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --left-shadow: rgba(0, 0, 0, 0.2) -20px 0 25px -5px,
    rgba(0, 0, 0, 0.02) -10px 0 10px -5px;
    --shadow-left-border: rgba(0, 0, 0, 0.2) 0px 10px 25px -5px,rgba(0, 0, 0, 0.1) -10px 0px 10px -5px;
    --tiny-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px,rgba(0, 0, 0, 0.1) 0 0px 10px -5px;
    /* interaction */
    --accent-hover: #697b70;
    --accent-active: #9cb0a4;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}
    

body {
    color: #333;
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--site-gray);
    height: 100%;
    width: 100%;
}

/* Typography */
h1 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

p {
    margin-block-start: 0.75rem;
    margin-block-end: 0.5rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

b,
strong {
    font-family: 'Roboto Bold', Arial, Helvetica, sans-serif;
}

i,
em {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.large {
    font-size: 3rem;
    font-weight:800;
}

.disabled {
    pointer-events: none;
    color: var(--site-gray);
    text-decoration-line: line-through;
}

.text--light {
    color: var(--text-white);
}

button:hover {
    cursor: pointer;
}

button[type='submit']:focus {
    border-color: var(--site-dark);
}

button:disabled {
    background-color: var(--site-gray);
    border-color: var(--site-gray);
    pointer-events: none;
}

label {
    display: block;
    width: 100%;
}

.btn-container--flex {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.btn {
    font-weight: 700;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid;
    border-color: transparent;
    height: 36px;
    cursor: pointer;
    display: flex;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
    transition: 0.125s all ease-in-out;
    border-style: solid;
    color: var(--site-dark);
}

.btn:hover {
    box-shadow: var(--hover-shadow);
}

.btn:active {
    box-shadow: var(--active-shadow);
}

.btn--flat {
    background-color: transparent;
}

.btn__flat:hover {
    cursor: pointer;
    box-shadow: none;
    border-color: var(--site-dark);
}

.btn__small {
    width: auto;
    margin: 0;
}

.btn__round {
    border-radius: 50%;
}

.btn--primary {
    background-color: var(--accent-blue);
    border-color: var(--accent-blue);
    color: var(--text-white)
}

.btn--primary:hover {
    background-color: var(--text-white);
    color: var(--site-dark);
}

.btn--primary:hover svg > path {
    fill: var(--site-dark);
}

.btn--sale {
    display: inline;
}

.btn--wide {
    padding: 0 1.5rem;
}

.btn--cancel {
    background-color: var(--accent-red);
    border-color: var(--accent-red);
    color: var(--text-white)
}

.btn--secondary {
    background-color: var(--site-gray);
}

.btn--warn {
    background-color: var(--accent-red);
}

.btn--warn__small {
    border: none;
    color: var(--text-white);
    font-weight: bold;
    margin: 0;
    margin-right: 0.6rem;
    height: auto;
    width: auto;
}

/* left align the new event and new location buttons */
#btn--new-event, #btn--new-location {
    margin: 0;
}

/* Hold the new button and the actions menu */
.create-new-button-container {
    height: auto;
    width: auto;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: width 150ms ease-in-out;
}

.create-new-button-container.show {
    width: 100%;
}

/* Create new item button */
#create-new {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    width: 64px;
    height: 64px;
    box-shadow: var(--box-shadow);
    /* font-size: 2rem; */
    text-align: center;
    margin: 0;
    z-index:1;
    transform-origin: center;
    transform-box: fill-box;
    transition: all 150ms ease-in-out;
}

#create-new.active {
    background-color: var(--accent-red);
    border-color: transparent;
    transform: rotate(45deg);
}

/* popup menu when the new button is clicked */
.actions--wrapper {
    width: auto;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    transition: all 150ms ease-in-out;
    position: absolute;
    right: 1.5rem;
    bottom: 0;
}

.actions--wrapper.show {
    bottom: 7rem;
    opacity: 1;
}

.actions--wrapper button {
    padding: 0.6rem 1.2rem;
    border-radius: 3px;
    flex-grow: 1;
}

a[role='button'] {
    text-decoration: none;
}

a[role='button']:hover {
    cursor: pointer;
    background-color: var(--text-white);
    color: var(--site-dark);
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.6rem;
}

nav {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--site-dark);
    margin: 0;
    padding: 0 3rem;
}

.nav--inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav--nav-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav__item {
    display: flex;
    height: 56px;
    align-items: center;
    color: var(--text-wite);
    border-top: 3px solid;
    border-color: transparent;
    cursor: pointer;
    padding: 0 0.6rem;
}

.nav__item svg {
    margin-right: 0.6rem;
}

.nav__item:not(.logout):hover {
    background-color: var(--accent-hover);
    border-top: 3px solid;
    border-color: var(--accent-active);
}

.nav__item a {
    text-decoration: none;
    color: var(--text-white);
    flex: 1;
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.nav--actions {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.6rem;
    gap: 1.2rem;
}

.logout {
    background-color: var(--accent-red);
    position: absolute;
    bottom: 0;
    width: 256px;
    font-weight: 700;
}

main {
    display: block;
    margin: 1.5rem 3rem;
    padding: 0.6rem 1.2rem;
    /* background-color: #fefefe; */
}

.table-wrap {
    display: block;
    max-height: 250px;
    overflow: scroll;
}

.table {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    position: sticky;
    top: 0;
    font-weight: 900;
    color: #ffffff;
    background: var(--accent-green);
}

.row.header.red {
    background: var(--accent-red);
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

.cell.flex-cell {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cell.flex-cell:hover {
    cursor: pointer;
}

#sales {
    display: flex;
    justify-content: space-around;
}

.sales__detail {
    width: 20%;
    height: 3rem;
    padding: 0.6rem;
}

.sidebar--right.htmx-added {
    right: -35%;
}

.sidebar {
    display: block;
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;

    padding: 15px;
    overflow: auto;
    z-index: 10;
}

.sidebar--right {
    right: 0;
    transition: right 350ms ease-in;
    background-color: var(--text-white);
    box-shadow: var(--shadow-left-border);
}

.sidebar--right__inner {
    padding: 0 0.75rem;
}

.sidebar--right__inner input[type='text'] {
    width: 100%;
    line-height: 1.2;
    padding: 0.25rem;
}


.sidebar--right__inner form label {
    margin: 0.5rem 0;
}

.hide--right {
    right: -35%;
}

#toast {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    bottom: 1.5rem;
    left: 1.5rem;
    min-width: 250px;
    margin: 0;
    padding: 0;
    transition: all 350ms;
    z-index: 1;
    border-radius: 3px;
    background-color: var(--site-dark);
    color: var(--text-white);
    pointer-events: none;
}

#toast.show {
    opacity: 1;
}
#toast-message {
    padding: 0.75rem 1.25rem;
}

#toast-action {
    background-color: rgba(255, 255, 255, 0.15);
    display: block;
    padding: 1.25rem;
}
#toast-action:hover {
    cursor: pointer;
}

/* Generic page elements */
.page__header {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-between;
}

.number-box--big {
    padding: 0 3rem 0 1.5rem;
    border: 1px solid var(--site-gray);
    border-radius: 3px;
    background-color: #fdfdfd;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
}

/**    EVENT PAGES **/
.event {
    display: flex;
}

.event--wrap {
    display: flex;
    flex-direction: row;
}

.chart {
    margin-top: 1rem;
    max-width: 100%;
}

.chart svg {
    height: auto;
    max-width: 100%;
}

.event__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event__actions {
    display: flex;
    gap: 1.2rem;
}

.event__sales, .item__sales {
    grid-area: sales;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    background-color: transparent;
    margin-bottom: 1.2rem;
}

.event__items {
    margin-bottom: 2rem;
}

/* .event__sales-box {
    border-radius: 3px;
    background-color: #fff;
    flex-grow: 1;
    padding: 0.6rem;
    box-shadow: var(--hover-shadow);
} */

.event__item-action {
    display: block;
    font-size: 1.6rem;
    align-self: flex-start;
    flex-grow: 1;
    border-radius: 3px;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--tiny-shadow);
}

.event__item-action:hover {
    cursor: pointer;
    box-shadow: var(--hover-shadow);
}

/* FORM STYLES */
.item-sale input {
    padding: 0.6rem;
}

.search-wrap {
    display: block;
    background-color: var(--site-gray);
    position: sticky;
    top: 0;
}

/*  FORMS  */

input, select {
    display: block;
    font-size: inherit;
    font-family: inherit;
    padding: 0.3rem 0 0.3rem 0.3rem;
    margin-bottom: 0.6rem;
    line-height: 1.2;
}

textarea {
    font-size: inherit;
    font-family: inherit;
}

select {
    width: 100%;
}

input[type="search"] {
    display: block;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.2;
    border: 1px solid transparent;
    border-radius: 0;
    border-bottom: 3px solid var(--site-gray);
    transition: all 0.25s ease-in-out;
    margin: 0.6rem 0;
    padding: 0.6rem;
    width: 100%;
}


/* Breakpoints */

@media screen and (max-width: 650px) {

    nav {
        padding: 0;
    }

    .nav--nav-items {
        justify-content: space-around;
    }

    main {
        margin: 1.2rem 0.6rem;
    }

    .btn {
        height: 3rem;
    }

    .event__header {
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    .event__meta {
        width: 100%;
    }

    .event__actions {
        justify-content: space-between;
    }

    .number-box--big {
        padding: 0 1rem;
    }
    
    .table {
        display: block;
    }

    .row {
        padding: 14px 0 7px;
        display: block;
    }

    .row.header {
        padding: 0;
        height: 6px;
    }

    .row.header .cell {
        display: none;
    }
    
    .row .cell {
        margin-bottom: 10px;
    }
    
    .row .cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }

    .cell {
        padding: 2px 16px;
        display: block;
    }

    .sidebar {
        width: 75%;
    }

    .sidebar--right.htmx-added {
        right: -75%;
    }

    .hide--right {
        right: -75%;       
    }
}