<h1>{{item.name}}</h1>

<h2>Sale records</h2>
<i>A complete record of sales, ordered by date, for this item.</i>
<div class="table">
    <div class="row header">
        <div class="cell">Sale Date</div>
        <div class="cell">Quantity</div>
        <div class="cell">Unit Price</div>
    </div>
    {% for sale in item.sales %}
    <div class="row">
        <div class="cell" data-title="Sale Date">{{ sale.occurred_at }}</div>
        <div class="cell" data-title="Quantity">{{sale.quantity}}</div>
        <div class="cell" data-title="Unit Price">{{sale.price_per_item}}</div>
    </div>
    {% endfor %}
</div>

<h2>Events</h2>
<i>This shows every event this item has been taken to.</i>
<div class="table">
    <div class="row header red">
        <div class="cell">Event Date</div>
        <div class="cell">Event Name</div>
    </div>
    {% for record in item.events %}
    <div class="row">
        <div class="cell" data-title="Event Date">{{ record.event.starts }}</div>
        <div class="cell" data-title="Event Name">{{ record.event.market.name }}</div>
    </div>
    {% endfor %}
</div>
